<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Sacramento" rel="stylesheet">
    <title>
        wishingfish
    </title>
</head>

<body>
    <h1>wishing fish cards</h1>
    <hr>
    <h2>
        <a href="https://www.etsy.com/shop/CoolBananaCards" target="_blank">about</a> .
        <a href="https://www.etsy.com/shop/CoolBananaCards" target="_blank">shop</a> .
        <a href="https://www.etsy.com/shop/CoolBananaCards" target="_blank">gallery</a>
    </h2>

    <img src={{picture}}>

</body>
</html>
